@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
	.headerFont {color: white; text-decoration: none;}
    body {font-family: 'Noto Sans KR', sans-serif;}
    .font th {font-weight: 500; color: white;}
    .font td {font-weight: 300; color: white;
                text-align: center; padding-top: 6px; padding-bottom: 6px;}
    
    /* header 의 위치*/
    .headerBox {width: 100%; height: 200px; background: #311851;} 
    
    /* header 의 content 표시 위치 */
    .header { position: relative; 
                width: 1100px; height: 100%; /*border: 1px solid white;*/
                margin: 0 auto;}
    
    /* title */
    #title{position:absolute;right:400px;width:1100px;height:200px;}
    #titlefont{position:relative; float:left; margin-left:20px;top:15px;text-decoration:none;color:white;font-weight: 500; font-size:140%;background: #311851;z-index:50;}
     /* 로고 표시 */
    .logo { position: relative; 
            background-image: url(../pageimages/logo.png);
            background-size: 100%;
            width: 180px; height: 74px;float: left; margin: 5px auto; line-height: 100px;
            margin-top: 30px; margin-left: 235px;}
   	/* dropbox menu */
    .menubar {position: relative; float: left;width:100%;height:95px;font-size:20px;list-style:none;z-index:2;}
   
    /* dropbox list */
    .menu{position:relative;float:left;text-align:center; width:150px; height:95px;list-style:none;color:white;font-weight: 500; font-size:140%;margin:0px 100px;}
    .drop{position:relative;display:inline-block; }
    
    /* buttons */
    .submenu1{position:absolute;color: white; list-style: none;line-height: 35px;width:1055px; height:80px;left:-390px;top:70px;display:none;}
    .submenu2{position:absolute;color: white; list-style: none;line-height: 35px;width:1055px; height:80px;right:-5px;top:70px;display:none;}
    
    .submenu1 li{position:relative;float:left;margin-left:200px;line-height:80px;font-size:110%;font-weight:bold;z-index:0; }
    .submenu2 li{position:relative;float:left;margin-left:200px;line-height:80px;font-size:110%;font-weight:bold;z-index:0; }
    
    .drop:hover .submenu1{display:block;}
    .drop:hover .submenu2{display:block;}  
   
    .submenu1:hover{display:block;}
    .submenu2:hover{display:block;}