@charset "UTF-8";

/* header Css*/
    /* font 설정 */
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
    .headerBox ul {font-family: 'Noto Sans KR', sans-serif; font-weight: 500;}
	.headerFont {color: white; text-decoration: none;}
    body {
        font-family: 'Noto Sans KR', sans-serif;
        margin: 0;
        padding-top:100px;
        scroll-behavior: smooth;
    }
    .font th {font-weight: 500; color: white;}
    .font td {font-weight: 300; color: white;
                text-align: center; padding-top: 6px; padding-bottom: 6px;}
    
    header {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 95px;
        background-color: #fff;
    }
    
    /* header 의 위치*/
    .headerBox {position: relative;width: 100%; height: 100px; background: #311851;} 
    
    /* header 의 content 표시 위치 */
    .header { position: relative; 
                width: 1100px; height: 100%; /*border: 1px solid white;*/
                margin: 0 auto;}
    /* 목록 */
    .headerText { position: relative; float: left; 
                    color: white; list-style: none;
                    line-height: 35px;}
    /* 목록의 리스트 */
    .headerText li { position: relative; float: left; margin: 15px;}
    /* 로고 표시 */
    .logo { position: relative; 
            background-image: url(../pageimages/logo.png);
            background-size: 100%;
            width: 180px; height: 74px;float: left; margin: 5px auto; line-height: 100px;
            margin-top: 11px; margin-left: 3px;}
    /* 검색창 */
    .searchBox {position: relative; float: left; width: 280px;
            height: 40px; background: white;
            border-radius: 10px 10px 10px 10px; line-height: 38px;
            margin: 10 auto; margin-top: 28px; margin-left: 10px; margin-right: 40px;}
    .searchBox .searchText {width: 220px; height: 20px; margin-left: 3px;
                        border: 0px;}
    .searchBox .searchImg {position: relative;
                    background-image: url(../pageimages/search.png);
                    width: 25px; height: 25px;
                    background-size: 100%;
                    float: left;
                    margin-top: 8px; margin-left: 8px;
                    }
/* header Css 끝*/
    
/* main Css*/
    /* 공통 */
    
    h1 {margin-top: 0px; margin-bottom: 10px; margin-left: 30px;}
    
    /* 버튼 */
    form  .submit,form  .cancel {
	height: 30px; /* 버튼의 세로 크기를 정의합니다. */
	width: 150px; /* 버튼의 가로 크기를 정의합니다. */
	border: 1px solid #666; /* 버튼의 테두리를 정의합니다. */
	border-radius: 10px; /* border-radius를 통해 버튼을 둥그렇게 만듭니다. */
	box-shadow: 3px 3px 2px #ccc; /* box-shadow를 이용해서 그림자를 만듭니다. */
	font-size: 14px; /* 글꼴 사이즈를 조절합니다. */
	background-repeat: repeat-x;
	background-position: center center;
	color: #fff;
	margin: 0 0 0 20px;
	}
    
    /* 메인 화면의 위치 */
    
    .viewBox { width: 950px; 
        /*height: 2500px; 공통으로 쓰기로한 viewBox의 height 제거 */ 
        /*border: 0.1px solid black;*/
        margin: 0 auto;
        margin-top: 30px;
    }
    
    /* recommend 박스 설정 */
    .recommendBox { width: 100%; height: 400px; background: #444444;
                    border-radius: 35px 35px 35px 35px;}
    .recommendThemaBox { position: relative; /*border: 1px solid white;*/
                        width: 500px; height: 305px;
                        float: left; margin: 45px; margin-right: 30px;}
    .recommendThema { position: absolute; width: 305px; height: 305px; overflow: hidden;
                        float: left; top: 0px;}
    .recommendThema img {width: 306px;}
    .recommendThemaPlay {position: absolute; width: 270px; height: 270px; left: 210px; top: 15px;
                        background: black; border-radius: 50%;}
    .recommendThemaPlayButton {position: relative; border-radius: 50%;
                                background-image: url(../pageimages/play.png);
                                width: 260px; height: 260px; margin: 0 auto; background-size: 100%;
                                top: 21px; left: 240px; border: 1px solid white;}
    
    .recommendThemaListBox {position: relative; float: left; /*border: 1px solid white;*/
                            width: 330px; height: 305px; top:45px;}
    #recommendChart {width: 100%;}
    #recommendChart tr {margin: 5px; height: 15px;}
    #recommendChart th {padding: 15px; text-align: center; }
    
    .rotateButtonBox {position: relative; /*border: 1px solid black;*/ width: 250px; height: 30px; 
                        margin: 0 auto;}
    .rotateButtonAlign {position: relative; margin: 0 auto;  /*border: 1px solid red;*/
                        width: 100px;}
    .rotateButton {position: relative; float: left; /*border: 1px solid red;*/
                    width: 15px; height: 15px; border-radius: 50%; margin-left: 5px;
                    margin-right: 5px; top: 6px; margin: 5 auto; background: #444444;}
    /* recommend 박스 끝 */
    /*  */

/* <footer> */
    footer {
        
        position: relative;
        width: 1050px;
        background: none;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 20px;
        padding-top:20px;
    }

    footer ul {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        font-weight: bold;
    }
    footer li {
        list-style: none;
        display: inline-block;
    }

    .hr {
        width: 100%;
        background: #333333;
        height: 1px;
        margin-top:20px;
        margin-bottom: 20px;
    }

    footer .ul1 {
        position: absolute;
        top: 0px;
        left: 0px;
        color: #333;
    }

    footer .ul1 li{
        margin-right: 20px;
    }

    footer .snsList {
        position: absolute;
        top:0px;
        right: 0px;
    }

    footer .snsList li {
        margin-left: 8px;
    }

    footer .ul2 , footer .ul3 , footer .ul4 {
        color: #909090;
        font-size: 70%;
    }

    footer .seperator {
        font-weight: 100;
        margin-left: 5px;
        margin-right: 5px;
    }

    footer .ul4 .right{
        position: absolute;
        bottom: 5px;
        right: 5px;
    }

    footer .ul4 .bold {
        color: #333;
    }
/* </footer> */


/*musicMoreBox 더보기 버튼 팝업*/
#musicMoreBox {
    position:fixed;
    z-index: 9999;
    width: 160px;
    height: 182px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 5px lightgray;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

#musicMoreBox a {
    text-decoration: none;
    cursor: pointer;
}

#musicMoreBox li {
    position: relative;
    width:160px;
    height:36px;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

#musicMoreBox .imgBox {
    position: absolute;
    top: 7px;
    left: 12px;
    width: 23px;
    height: 23px;
    text-align: center;
}

#musicMoreBox .checkImgBox {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 23px;
    height: 23px;
    text-align: center;
    display: none;
}

#musicMoreBox .textBox {
    position: absolute;
    top:8px;
    left:31px;
    height: 23px;
    line-height: 23px;
}

#musicMoreBox .textBox a{
    display: block;
    position: relative;
    padding-left: 17px;
    font-size: 14px;
    text-align: left;
    color: #353535;
}

#musicMoreBox .close {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    z-index: 9999;
}

/*musicMoreBox 더보기 버튼 팝업*/

/* listByCheckBox 체크누르면 나오는 팝업 */
#listByCheckBox {
    position:fixed;
    z-index: 9999;
    width: 340px;
    height: 120px;
    margin: 0;
    padding: 0;
    bottom: 195px;
    left: calc(100vw - 50vw - 170px);
    overflow: hidden;
}

#listByCheckBox > div:nth-of-type(2) {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 340px;
    height: 100px;
    background: #3f3fff;
    border-radius: 10px;
    margin-top: 20px;
}

#listByCheckBox > div:nth-of-type(2) > div{
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 100%;
    padding-top: 12px;
}

#listByCheckBox a {
    text-decoration: none;
}

#listByCheckBox li {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

#listByCheckBox .iconList, #listByCheckBox .labelList {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

#listByCheckBox .iconList ul {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#listByCheckBox .iconList li {
    display: inline-block;
    width: 60px;
    height: 50px;
    margin: 0;
    padding: 0;
    background: #3f3fff;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
}

#listByCheckBox .labelList {
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 0.5px;
}

#listByCheckBox .labelList li{
    width: 60px;
    cursor: pointer;
}

#listByCheckBox .count {
    position: absolute;
    z-index: 10;
    width: 36px;
    height: 36px;
    border: 2px solid #3f3fff;
    font-size: 16px;
    font-weight: bold;
    color: #3f3fff;
    vertical-align: middle;
    text-align: center;
    border-radius: 21px;
    top: 0px;
    left: 12px;
    background: #ffffff;
    line-height: 36px;
}
/* listByCheckBox 체크누르면 나오는 팝업 */

/* 나의 리스트 팝업 */
#myListBox {
    position: fixed;
    z-index: 9999;
    width: 530px;
    height: 600px;
    margin: 0;
    bottom: 195px;
    top: 140px;
    left: calc(100vw - 50vw - 235px);
}

#myListBox > div:nth-of-type(2) {
    position: relative;
    margin: 0 auto;
    width: 470px;
    background: white;
    min-height: 300px;
    border-radius: 10px;
    padding: 30px;
}

#myListBox h2 {
    font-size: 18px;
    color: #333333;
    width: 470px;
    height: 22px;
    line-height: 22px;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(1){
    width: 470px;
    height: 78px;
    position: relative;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(1) * {
    display: block;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(1) .textBox {
    width: 470px;
    height: 40px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #333333;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(1) .inputText {
    width: 450px;
    height: 100%;
    float: left;
    margin-left: 10px;
    margin-right: 2px;
    font-size: 90%;
    font-weight: 100;
    border: none;
    background: none;
    outline: none;
    color: #333333;
}

#myListBox .close {
    position: absolute;
    right: 4px;
    top: 10px;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}

#myListBox > .close {
    top: -30px;
}

#myListBox .btn {
    margin-top: 10px;
    width: 50px;
    color: #333333;
    float: right;
    font-size: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(2) {
    overflow-y: scroll;
    height: 380px;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(2) .bundleList:first {
    border-top: 1px solid #dddddd;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(2) .bundleList {
    height: 66px;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    padding: 5px;
    cursor: pointer;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(2) .bundleList *{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(2) .bundleList > ul {
    width: 445px;
    height: 78px;
    padding-top: 3px;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(2) .bundleList > ul > li:nth-of-type(1) {
    width: 60px;
    height: 60px;
    float: left;
    background: #dddddd;
    border-radius: 6px;
    margin-right: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border: none;
}
#myListBox > div:nth-of-type(2) > div:nth-of-type(2) .bundleList > ul > li:nth-of-type(1) * {
    width: 100%;
    height: 100%;
    display:block;
    margin: 0;
    padding: 0;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(2) .bundleList > ul > li:nth-of-type(1) span {
    position: absolute;
    top: 15px;
    left: -1px;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(2) .bundleList > ul > li:nth-of-type(2) {
    float: left;
    width: 360px;
    height: 60px;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(2) .bundleList > ul > li:nth-of-type(2) ul {
    width: 100%;
    height: 100%;
    margin-top: 6px;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(2) .bundleList > ul > li:nth-of-type(2) ul li:nth-of-type(1){
    font-size: 15px;
    font-weight: 100;
    color: #333333;
    margin-bottom: 8px;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(2) .bundleList > ul > li:nth-of-type(2) ul li:nth-of-type(2){
    font-size: 12px;
    font-weight: 100;
    color: #333333;
}

#myListBox > div:nth-of-type(2) > div:nth-of-type(1) input::placeholder {
    color: lightgray;
}

#myListBox .beforeForm * {
    display:block;
    margin: 0;
    padding: 0;
}

#myListBox .beforeForm {
    height: 66px;
    border-bottom: 1px solid #dddddd;
    padding: 5px;
    cursor: pointer;
}
#myListBox .beforeForm ul {
    width: 100%;
    height: 100%;
}

#myListBox .beforeForm ul li:nth-of-type(1) {
    width: 60px;
    height: 60px;
    float: left;
    background: #dddddd;
    border-radius: 6px;
    margin-right: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border: none;
}

#myListBox .beforeForm ul li:nth-of-type(1) > div{
    position: relative;
    top: 15px;
    font-size: 30px;
    font-weight: 100;
    left: 1px;
}

#myListBox .beforeForm ul li:nth-of-type(2) {
    float: left;
    width: 360px;
    height: 60px;
    line-height: 60px;
}
/* 나의 리스트 팝업 */

/* music.browse */
#music_browse ul,article li {
    list-style-type: none;
    display: block;
    padding: 0;
}
#music_browse li {
    display: inline-block;
}
#music_browse a {
    text-decoration: none;
}
#listBox {
    position: relative;
}
#themeAndGenre li {
    border-radius: 10px;
    font-weight: bold;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    border-radius: 16px;
    border: 1px solid rgba(0,0,0,.2);
    margin-bottom: 4px; 
}
#themeAndGenre li:not(.selected):hover {
    border: 1px solid #311851;
}
#themeAndGenre li:not(.selected):hover a{
    color: #311851;
}
#themeAndGenre a {
    color: #5D5D5D;
}
#themeAndGenre li.selected{
    background: #311851;
    border: 1px solid #311851;
}
#themeAndGenre .selected a{
    color: white;
}
#musicList a{
    color : lightslategray;
}
.waste {
    width: 100%;
    height: 42px;
    position: relative;
    margin-bottom: 16px;
}
.waste .selectedTitle {
    margin: 0;
    height: 42px;
    font-size: 22px;
    color: #333;
    font-weight: 700;
    float: left;
    line-height: 42px;
}
.waste img {
    vertical-align: middle;
    padding-bottom: 5px;
}
.waste .allListen {
    float: right;
    font-size: 13px;
    color: #333;
    height: 42px;
    line-height: 42px;
}
.waste .allListen:hover {
    color: #3f3fff;
}
#listBox a {
    font-size:15px;color:#333333;font-weight: 100;
    cursor: pointer;
}
#listBox .justWrap{
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    width: 360px;
    height: 60px;
    overflow: hidden;
}
#listBox .justWrap .contentWrap{
    position: relative;
    height: 100%;
}
#listBox .justWrap .contentWrap > a{
    position: absolute;
    height: 22px;
    left: 76px;
    line-height: 22px;
    display: inline-block;
}
#listBox .justWrap .contentWrap > a:nth-of-type(1){top:8px;}
#listBox .justWrap .contentWrap > a:nth-of-type(2){top:32px;font-size:13px;color:#969696;}

#music_browse th{height:80; width:895px;}
#music_browse th{padding-left:20px; text-align: left; white-space: nowrap; height: 39px; font-size: 13px; color: #a0a0a0;font-weight: 400; border-top: 1px solid #ebebeb;  border-bottom: 1px solid #ebebeb;}
#music_browse td{padding-left:20px; text-align: left; white-space: nowrap; height: 39px; font-size: 15px; color: #5D5D5D;font-weight: 450; }
/* music.browse */

/* dim처리용 */
#dim {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
    transition: 0.2;
    top: 0px;
    left: 0px;
}